@use '../abstracts';

.commentary {
  margin: 10rem auto 0;
  position: relative;
  z-index: 2;
  max-width: 73.75rem; 
}

.comments__section {
  position: relative;
  z-index: 3;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.comments {
  background-color: abstracts.$mid-grey;
  border-radius: 4px;
  padding: 1.5rem 1.25rem;
  margin: auto;
  max-width: 22.5rem;

  &:first-child {
    position: relative;
    z-index: auto;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../images/bg-quotes.png");
      background-repeat: no-repeat;
      filter: invert(10%) sepia(150%) saturate(300%) hue-rotate(83deg)
        brightness(102%) contrast(102%);
      top: -2.8rem;
      left: -1.5rem;
      width: 5rem;
      height: 5rem;
      transform: scale(0.25);
      z-index: -2;
    }
  }
}

.details {
  font-size: abstracts.calculateRem(10);
}

.profile {
  display: flex;
  margin-top: 2rem;
  gap: 0.5rem;
}

.profile__img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.profile__img__title {
  font-size: abstracts.calculateRem(10);
}

.profile__img__more {
  font-size: abstracts.calculateRem(7);
}

@media screen and(min-width: 680px) {
  .comments__section {
    flex-direction: row;
  }
  .details {
    font-size: abstracts.calculateRem(14);
  }
  .profile__img__more {
    font-size: abstracts.calculateRem(8);
  }
  .comments {
    &:first-child {
      &::before {
        transform: scale(0.35);
      }
    }
  }
}

@media screen and(min-width: 1080px) {
  .commentary {
    margin: 8rem auto 0;   
  }
  
  .comments {
    padding: 1.8rem 2rem;
    &:first-child {
      &::before {
        transform: scale(0.45);
      }
    }
  }
}
