@use '../abstracts';
.cta {
	margin-top: 3rem;
}
.cta--btn {
    background-image: linear-gradient(abstracts.$lime, abstracts.$turquoise);
    font-size: abstracts.calculateRem(14);
    padding: 1rem 5rem;
    border-radius: 24px;
}