@use '../abstracts';

.hero {
    margin: auto;
    background-color: abstracts.$dark-grey;

}

.hero__img__wrapper {
    padding: .5rem 2.25rem;
}

.main__title {
    font-family: abstracts.$alt-font;
    font-size: abstracts.calculateRem(24);
    margin-top: 0.5rem;
}

.hero__content {
    font-size: abstracts.calculateRem(14);
    margin-top: 1rem;
}

.secure__loc {
    background-image: url("../../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    text-align: center;
    padding: .5rem 2.25rem;
}