@use '../abstracts';
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__wrapper {
  flex: 1 1 25%;
}
.navigate {
  display: flex;
  align-items: end;
  flex: 1 1 75%;
  justify-content: flex-end;
  gap: 1rem;
}
.nav__link--btn {
  color: abstracts.$white;
  text-decoration: none;
  font-size: abstracts.calculateRem(12);
  outline: none;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: 0.25em;
  }
}

@media screen and(min-width: 680px) {
  .nav__link--btn {
    font-size: abstracts.calculateRem(16);
  }
}
