@use '../abstracts';

.productive {
  padding: 0 1.75rem;
}

.productive__title {
  font-family: abstracts.$alt-font;
  font-size: abstracts.calculateRem(18);
}

.productive__content {
  font-size: abstracts.calculateRem(14);
  margin-top: 1rem;
}
.sub__productive {
  margin: 2rem auto;
  text-align: left;
  max-width: 35rem;
}
.productive__btn {
  color: abstracts.$lime;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.productive__img__wrapper {
  margin: auto;
  max-width: 450px;
}

@media screen and(min-width: 680px) {
  .productive {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 0 3.5rem;
  }
  .productive__title {
    font-size: abstracts.calculateRem(28);
  }
  .productive__img__wrapper {
    flex: 1 1 50%;
  }
  .sub__productive {
    flex: 1 1 50%;
    max-width: 35rem;
  }
}

@media screen and(min-width: 1080px) {
  .productive__title {
    font-size: abstracts.calculateRem(40);
  }
  .productive {
    padding: 1rem 6.5rem;
  }
  .productive__img__wrapper {
    max-width: 100%;
  }
}
