@use '../abstracts';

.get__access {
	padding: 2.5rem 1.75rem;
	margin: auto;
   
}
.signup__section {
	margin: 8.5rem 1.25rem;
   // padding: 0 1.25rem;
    background-color: abstracts.$dark-grey;
}
.signup__title {
    font-size: abstracts.calculateRem(18);
    line-height: 1.5;
    text-align: center;
}
.signup__content {
    font-size: abstracts.calculateRem(14);
    text-align: center;
    line-height: 1.8;
}
