@use '../abstracts';

body {
    font-family: abstracts.$main-font;
}

.wrapper {
    background-color: abstracts.$very-dark-grey;
    color: abstracts.$white;
    width: 100%;
    overflow-x: hidden;   
}
.header {
    padding: 2rem 1.25rem;
    background-color: abstracts.$dark-grey;
}

@media screen and(min-width: 680px) {
    .header {
        padding: 3rem 2.25rem;
    }
}

@media screen and(min-width: 680px) {
    .header {
        padding: 4.5rem 5rem;
    }
}