$very-dark-grey:  hsl(218, 28%, 13%); // #1B2330; hsl(218, 28%, 13%)
$dark-grey: #1B2330;
$mid-grey: #202A3C; //cards
$lime: #62E0D9;
$white: #ffffff;
$main-font: 'Open Sans', sans-serif;
$alt-font: 'Raleway', sans-serif;