$very-dark-grey:  hsl(218, 28%, 13%); // #1B2330; hsl(218, 28%, 13%)
$greenish-grey: #0b1524;
$dark-grey: #1B2330;
$mid-grey: #202A3C; //cards
$lime: hsl(176, 68%, 64%);
$turquoise: hsl(198, 60%, 50%);
$white: #ffffff;
$main-font: 'Open Sans', sans-serif;
$alt-font: 'Raleway', sans-serif;